.slidesContainer {
  width: 100%;
  min-height: 29vw;
  max-height: 32vw;
  background: rgb(237, 237, 237);
  //    padding-top: 90px;
}
.slide {
  width: 100%;
  height: 30vw;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #161616;
  img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .slidesContainer {
    min-height: 130px;
    max-height: 180px;
    width: 100%;
  }
  .slide {
    min-height: 130px;
    img {
      // width: auto;
      // object-fit:scale-down;
    }
  }
}

/////loading animation
.progressBar {
  width: 100%;
  height: 5px;
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  .fill {
    height: 100%;
    width: 0;
    background-color: #0d3a27;
    // animation: progress infinite ease-in-out 3.5s;
    border-radius: 5px;
    // animation-delay: .6s;
  }
}
// @keyframes progress {
//   from {
//     width: 0;
//   }
//   to {
//     width: 100%;
//   }
// }
